{% block sw_cms_block_category_slider_preview %}
     <div class="sw-cms-preview-category-slider">
        <mt-icon
            name="regular-chevron-left"
            size="10"
        />
        <div class="sw-cms-preview-category-slider__category-box">
            <sw-cms-category-box-preview />
            <sw-cms-category-box-preview />
            <sw-cms-category-box-preview />
        </div>
        <mt-icon
            name="regular-chevron-right"
            size="10"
        />
    </div>
{% endblock %}