@import "vendor/swiper/swiper-bundle.scss";

.swiper-button-next {
    &.swiper-button-disabled {
        opacity: .35;
        cursor: auto;
        pointer-events: none;
    }
}

.swiper-button-prev {
    &.swiper-button-disabled {
        opacity: .35;
        cursor: auto;
        pointer-events: none;
    }
}