.sw-cms-el-category-slider__content {
    align-items: center;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-gap: 5px;
    padding: 15px;
}

.sw-cms-el-category-slider__category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 10px;

    .sw-cms-el-category-box img {
        display: block;
        margin: 0 auto;
    }
}