{% block block_category_slider %}
    {% set element = block.slots.getSlot('categorySlider') %}
    {% set categorySlider = element.data.categorySlider %}

    {% if categorySlider.children|length > 0 %}
        <div class="col-12 container">
            {% block block_category_slider_inner %}
                {% sw_include '@Storefront/storefront/element/cms-element-category-slider.html.twig' %}
            {% endblock %}
        </div>
    {% endif%}
{% endblock %}