{% block sw_cms_category_box_preview %}
    <div class="sw-cms-category-box-preview">
        <div class="sw-cms-category-box-preview__image">
            <img
                :src="assetFilter('/manzketeichtechnikcategoryslider/administration/static/img/cms/preview_category.jpg')"
                alt=""
            >
            <p>{{ "sw-cms.elements.categorySliderElement.categoryName"|trans|sw_sanitize }}</p>
        </div>
    </div>
{% endblock %}