<!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
{% block sw_cms_block_category_slider %}
    <div class="sw-cms-block-category-slider">
        <div>
            <slot name="categorySlider"></slot>
        </div>
    </div>
{% endblock %}